/* Adicione isso no final de Dashboard.module.css */
.deleteBtn {
    background-color: #c0392b;
    /* Um tom de vermelho */
}

.deleteBtn:hover {
    background-color: #e74c3c !important;
    /* !important para sobrescrever o hover genérico */
    opacity: 1;
}
